.wrapper {
  margin: auto;
  max-width: 85%;
  width: 40em;

  @media (min-width: 376px) {
    width: 50em;
  }
}

.section-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;

  @media (max-width: 450px) {
    font-size: 3em;
  }
}

section {
  padding: 9em 2em;
  line-height: 2em;
  font-family: 'Montserrat', sans-serif;

  @media (max-width: 450px) {
    /* Adjust as necessary */
  }
}

section p {
  font-size: 1.25em;
}

.services {}

// How to use this?
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header {
  font-size: 1.5em;
}

.card {
  padding: 1em;
  line-height: 1.5em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-container .card p {
  font-size: 1em;
}

.card .link {
  font-size: 1.25em;
}

.testimonials {
  background-color: #efefef;
}

.testimonial {
  font-style: italic;
}

.citation {
  text-align: right;
  font-size: 1em;
}

.job-title {
  font-weight: bolder;
}

.location {
  font-style: italic;
}

.cta {}

.link {
  text-decoration: none;
  color: #00d0f8;
}

.strike {
  text-decoration: line-through;
}